

.App {
  text-align: center;
}



body{
  background-color:var(--link-color-10);
}
.App{
  background-color: var(--link-color-70);
  min-height:500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 5px;
}
